#accordion-body {
    background: whitesmoke;
}

#videothumbnail {
    height: 70vh;
    width: 70em;
}

#videothumbnail2 {
    height: 75vh;
    width: 60em;
}

.link {
    text-decoration: none;
}

.link:hover {
    color: #82C91E;
    text-decoration: none;
}

.icon {
    /* color: #82C91E; */
}
